<table class="table">
  <thead>
  <tr>
    <th>Domain</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
    <tr app-domain
        *ngFor="let domain of domains"
        [domain]="domain">
    </tr>
  </tbody>
</table>
